/* Style the body to use flexbox and center content */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0;
    background-color: #f0f0f0; /* Optional background color */
}

/* Center the forms and add some styling */
#register, #login {
    width: 300px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


/* Adjust form elements */
form label {
    margin-bottom: 10px;
    display: block;
}

form input[type="text"], form input[type="password"], form input[type="radio"] {
    margin-bottom: 15px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form input[type="radio"] {
    width: auto;
    padding: 0;
}

/* Style buttons */
button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


#pollsContainer {
    margin-top: 20px;
}

.poll {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
}

.progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    border: 1px solid #ddd;
}

.progress {
    background-color: #4CAF50;
    height: 25px;
    width: 0;
}

.vote-options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
